In [3]:
!pip install seaborn

Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
     -------------------------------------- 294.9/294.9 kB 1.4 MB/s eta 0:00:00
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (1.26.2)
Requirement already satisfied: pandas>=1.2 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (2.1.4)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (3.8.4)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (9.5.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.2->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.2->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.13.2

[notice] A new release of pip available: 22.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("E:\Data Analysis\Excelerate Internship\Week 1\Resource\Csv_files\OutreachData.csv")

In [7]:
df.head()

,Reference_ID,Recieved_At,University,Caller_Name,Outcome_1,Remark,Campaign_ID,Escalation_Required
0,12345,4/28/2023 12:15,Illinois Institute of Technology,Shailja,Connected,NaN,IANF23,No
1,12345,4/28/2023 13:04,Illinois Institute of Technology,Shailja,Reschedule,NaN,IANF23,No
2,12345,5/1/2023 11:14,Illinois Institute of Technology,Shailja,Connected,NaN,IANF23,No
3,347397,5/1/2023 11:16,Illinois Institute of Technology,Isha,Not connected,NaN,IANF23,No
4,347397,5/1/2023 11:18,Illinois Institute of Technology,Isha,Connected,NaN,IANF23,No

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37881 entries, 0 to 37880
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Reference_ID         37881 non-null  object
 1   Recieved_At          37881 non-null  object
 2   University           37881 non-null  object
 3   Caller_Name          37881 non-null  object
 4   Outcome_1            37881 non-null  object
 5   Remark               4077 non-null   object
 6   Campaign_ID          37881 non-null  object
 7   Escalation_Required  37881 non-null  object
dtypes: object(8)
memory usage: 2.3+ MB

In [5]:
df.describe()

,Reference_ID,Recieved_At,University,Caller_Name,Outcome_1,Remark,Campaign_ID,Escalation_Required
count,37881,37881,37881,37881,37881,4077,37881,37881
unique,15416,31236,1,12,41,1716,23,3
top,`,5/3/2023 13:55,Illinois Institute of Technology,Rudra,Not connected,No answer,FA24IP,No
freq,2676,4,37881,14712,24498,151,9605,37118

In [6]:
df.shape

(37881, 8)

# @title Cleaning Reference_ID column

In [7]:
df = df.dropna(subset=['Reference_ID'])

In [8]:
df.tail()

,Reference_ID,Recieved_At,University,Caller_Name,Outcome_1,Remark,Campaign_ID,Escalation_Required
37876,-,12/24/2024 17:30,Illinois Institute of Technology,Jyoti,Not connected,NaN,SP25NIQ,No
37877,-,12/24/2024 17:32,Illinois Institute of Technology,Jyoti,Not connected,NaN,SP25NIQ,No
37878,-,12/24/2024 17:38,Illinois Institute of Technology,Jyoti,Not connected,NaN,SP25NIQ,No
37879,-,12/24/2024 17:40,Illinois Institute of Technology,Jyoti,Not connected,NaN,SP25NIQ,No
37880,-,12/24/2024 17:44,Illinois Institute of Technology,Jyoti,Not connected,NaN,SP25NIQ,No

In [9]:
df = df[df['Reference_ID'].str.isdigit()]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33119 entries, 0 to 37861
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Reference_ID         33119 non-null  object
 1   Recieved_At          33119 non-null  object
 2   University           33119 non-null  object
 3   Caller_Name          33119 non-null  object
 4   Outcome_1            33119 non-null  object
 5   Remark               3939 non-null   object
 6   Campaign_ID          33119 non-null  object
 7   Escalation_Required  33119 non-null  object
dtypes: object(8)
memory usage: 2.3+ MB

In [11]:
df.describe()

,Reference_ID,Recieved_At,University,Caller_Name,Outcome_1,Remark,Campaign_ID,Escalation_Required
count,33119,33119,33119,33119,33119,3939,33119,33119
unique,15159,27876,1,12,41,1683,23,3
top,418630,5/3/2023 13:55,Illinois Institute of Technology,Rudra,Not connected,No answer,FA24IP,No
freq,37,4,33119,11564,21879,151,9583,32370

In [12]:
df['Reference_ID'] = df['Reference_ID'].astype(str)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33119 entries, 0 to 37861
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Reference_ID         33119 non-null  object
 1   Recieved_At          33119 non-null  object
 2   University           33119 non-null  object
 3   Caller_Name          33119 non-null  object
 4   Outcome_1            33119 non-null  object
 5   Remark               3939 non-null   object
 6   Campaign_ID          33119 non-null  object
 7   Escalation_Required  33119 non-null  object
dtypes: object(8)
memory usage: 2.3+ MB

In [15]:
df["Reference_ID"].nunique()

15159

In [16]:
df["Reference_ID"].unique()

array(['12345', '347397', '358065', ..., '98077675', '9876789', '425358'],
      dtype=object)

In [17]:
df["Reference_ID"].value_counts()

Reference_ID
418630    37
474311    20
451193    20
438353    20
478295    19
          ..
457715     1
423011     1
431886     1
456664     1
425358     1
Name: count, Length: 15159, dtype: int64

In [18]:
df.head()

,Reference_ID,Recieved_At,University,Caller_Name,Outcome_1,Remark,Campaign_ID,Escalation_Required
0,12345,4/28/2023 12:15,Illinois Institute of Technology,Shailja,Connected,NaN,IANF23,No
1,12345,4/28/2023 13:04,Illinois Institute of Technology,Shailja,Reschedule,NaN,IANF23,No
2,12345,5/1/2023 11:14,Illinois Institute of Technology,Shailja,Connected,NaN,IANF23,No
3,347397,5/1/2023 11:16,Illinois Institute of Technology,Isha,Not connected,NaN,IANF23,No
4,347397,5/1/2023 11:18,Illinois Institute of Technology,Isha,Connected,NaN,IANF23,No

In [19]:
df.tail()

,Reference_ID,Recieved_At,University,Caller_Name,Outcome_1,Remark,Campaign_ID,Escalation_Required
37857,473550,12/24/2024 16:30,Illinois Institute of Technology,Jyoti,Not connected,NaN,SP25DSP,No
37858,474311,12/24/2024 16:32,Illinois Institute of Technology,Jyoti,Not connected,NaN,SP25DSP,No
37859,476192,12/24/2024 16:34,Illinois Institute of Technology,Jyoti,Not connected,NaN,SP25DSP,No
37860,477028,12/24/2024 16:36,Illinois Institute of Technology,Jyoti,Not connected,NaN,SP25DSP,No
37861,476184,12/24/2024 16:39,Illinois Institute of Technology,Jyoti,Not connected,NaN,SP25NIQ,No

In [21]:
filtered_df = df[df['Reference_ID'] == "12345"]
filtered_df

,Reference_ID,Recieved_At,University,Caller_Name,Outcome_1,Remark,Campaign_ID,Escalation_Required
0,12345,4/28/2023 12:15,Illinois Institute of Technology,Shailja,Connected,NaN,IANF23,No
1,12345,4/28/2023 13:04,Illinois Institute of Technology,Shailja,Reschedule,NaN,IANF23,No
2,12345,5/1/2023 11:14,Illinois Institute of Technology,Shailja,Connected,NaN,IANF23,No