In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [11]:
df = pd.read_csv("E:\Data Analysis\Excelerate Internship\Week 1\Resource\Csv_files\CampaignData.csv")

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          23 non-null     object
 1   Name        23 non-null     object
 2   Category    23 non-null     object
 3   Intake      23 non-null     object
 4   University  23 non-null     object
 5   Status      23 non-null     object
 6   Start_Date  23 non-null     object
dtypes: object(7)
memory usage: 1.4+ KB

In [13]:
df.describe()

,ID,Name,Category,Intake,University,Status,Start_Date
count,23,23,23,23,23,23,23
unique,23,23,2,1,1,1,17
top,AANF23,"GR GS FA24 Campaign- Admit, No Deposit",Post Admission,AY2024,Illinois Institute of Technology,Completed,7/5/2023 0:00
freq,1,1,14,23,23,23,3

In [14]:
df.head()

,ID,Name,Category,Intake,University,Status,Start_Date
0,AANF23,"GR GS FA24 Campaign- Admit, No Deposit",Post Admission,AY2024,Illinois Institute of Technology,Completed,3/20/2024 0:00
1,AND23,GR GS FA24 Campaign- Deposit No Action,Post Admission,AY2024,Illinois Institute of Technology,Completed,9/11/2024 0:00
2,BPNANF23,"GR GS FA24 Campaign- Deposit, No I-20",Post Admission,AY2024,Illinois Institute of Technology,Completed,7/11/2024 0:00
3,BPNND23,GR GS FA24 Campaign- In Progress,Pre Admission,AY2024,Illinois Institute of Technology,Completed,3/6/2024 0:00
4,CTKANF23,"GR GS FA24 Campaign- Submit, Incomplete",Pre Admission,AY2024,Illinois Institute of Technology,Completed,3/8/2024 0:00

In [15]:
df.tail()

,ID,Name,Category,Intake,University,Status,Start_Date
18,SP25DN1,"GR GS Call Campaign: Bangladesh, Pakistan, Nep...",Pre Admission,AY2024,Illinois Institute of Technology,Completed,5/16/2023 0:00
19,SP25DSP,"GR GS Call Campaign: Bangladesh, Pakistan, Nep...",Post Admission,AY2024,Illinois Institute of Technology,Completed,7/5/2023 0:00
20,SP25IP,"GR GS Call Campaign: China, Taiwan, Korea ANF",Pre Admission,AY2024,Illinois Institute of Technology,Completed,5/16/2023 0:00
21,SP25NIQ,"Deposit and Advised, Not Enrolled",Post Admission,AY2024,Illinois Institute of Technology,Completed,7/17/2024 0:00
22,SP25SIC,"Deposit, Not Advised",Post Admission,AY2024,Illinois Institute of Technology,Completed,7/17/2024 0:00

In [16]:
df['Season'] = df['Name'].str.extract(r'(FA\d{2}|SP\d{2}|SU\d{2}|WI\d{2})')

In [17]:
df['Campaign_Type'] = df['Name'].apply(
    lambda x: "Call Campaign" if "Call Campaign" in x else "Campaign"
)

In [18]:
import re

def extract_region_status(name):
    if "Call Campaign" in name:
        # Split after "Call Campaign:"
        parts = name.split("Call Campaign:")
        if len(parts) > 1:
            text = parts[1].strip()

            # Try to split into region + status using last comma OR last space before known statuses
            match = re.match(r'^(.*)\s+(No Deposit|ANF|Deposit, No I-20|In Progress|Submitted, Incomplete|Deposit No Action|Admit, No Deposit)$', text)
            if match:
                region = match.group(1).strip().rstrip(",")
                campaign_status = match.group(2).strip()
                return region, campaign_status

            # If nothing matches, assume whole thing is region only
            return text, None

    elif "-" in name:
        return None, name.split("-")[-1].strip()
    else:
        return None, name.strip()

# Apply
df[['Region', 'campaign_status']] = df['Name'].apply(lambda x: pd.Series(extract_region_status(x)))

In [19]:
df.head()

,ID,Name,Category,Intake,University,Status,Start_Date,Season,Campaign_Type,Region,campaign_status
0,AANF23,"GR GS FA24 Campaign- Admit, No Deposit",Post Admission,AY2024,Illinois Institute of Technology,Completed,3/20/2024 0:00,FA24,Campaign,None,"Admit, No Deposit"
1,AND23,GR GS FA24 Campaign- Deposit No Action,Post Admission,AY2024,Illinois Institute of Technology,Completed,9/11/2024 0:00,FA24,Campaign,None,Deposit No Action
2,BPNANF23,"GR GS FA24 Campaign- Deposit, No I-20",Post Admission,AY2024,Illinois Institute of Technology,Completed,7/11/2024 0:00,FA24,Campaign,None,20
3,BPNND23,GR GS FA24 Campaign- In Progress,Pre Admission,AY2024,Illinois Institute of Technology,Completed,3/6/2024 0:00,FA24,Campaign,None,In Progress
4,CTKANF23,"GR GS FA24 Campaign- Submit, Incomplete",Pre Admission,AY2024,Illinois Institute of Technology,Completed,3/8/2024 0:00,FA24,Campaign,None,"Submit, Incomplete"

In [21]:
df.tail()

,ID,Name,Category,Intake,University,Status,Start_Date,Season,Campaign_Type,Region,campaign_status
18,SP25DN1,"GR GS Call Campaign: Bangladesh, Pakistan, Nep...",Pre Admission,AY2024,Illinois Institute of Technology,Completed,5/16/2023 0:00,NaN,Call Campaign,"Bangladesh, Pakistan, Nepal",ANF
19,SP25DSP,"GR GS Call Campaign: Bangladesh, Pakistan, Nep...",Post Admission,AY2024,Illinois Institute of Technology,Completed,7/5/2023 0:00,NaN,Call Campaign,"Bangladesh, Pakistan, Nepal",No Deposit
20,SP25IP,"GR GS Call Campaign: China, Taiwan, Korea ANF",Pre Admission,AY2024,Illinois Institute of Technology,Completed,5/16/2023 0:00,NaN,Call Campaign,"China, Taiwan, Korea",ANF
21,SP25NIQ,"Deposit and Advised, Not Enrolled",Post Admission,AY2024,Illinois Institute of Technology,Completed,7/17/2024 0:00,NaN,Campaign,None,"Deposit and Advised, Not Enrolled"
22,SP25SIC,"Deposit, Not Advised",Post Admission,AY2024,Illinois Institute of Technology,Completed,7/17/2024 0:00,NaN,Campaign,None,"Deposit, Not Advised"

In [22]:
df.to_csv("E:\Data Analysis\Excelerate Internship\Week 1\Resource\Cleaned_Csv_files\Cleaned_CampaignData.csv", index=False)